body{
    background-color: peachpuff;
}input[type=button]{
    color: black;
    background-color: lightsteelblue; 
    width: 10vw;
}.card{
    top: 1vh;
    width: 8vw;
    height: 12vw;
    color: olivedrab;
    border-radius: 2px;
    border-color: red;
    position: absolute;
    background-size: 8vw; 
}.card:hover {
    position:absolute;
    width:16vw;
    height: 24vw;
    background-size: 16vw;
    z-index:999;
}.creature1{
     background-image: url(cards/creature1.png);  
}.creature2{
    background-image: url(cards/creature2.png);
}.creature3{
    background-image: url(cards/creature3.png);
}.creature4{
    background-image: url(cards/creature4.png);
}.empty, .empty:hover{
    z-index: -999;
    width: 10vw;
    height: 15vw;
}
#card1{
    left: 23vw;
}#card2{
    left: 34vw;
}#card3{
    left: 45vw;
}#card4{
    left: 56vw;
}#card5{
    left: 67vw;
}#playarea{
    width: 80vw;
    height: 50vh;
    background-color: grey;
    position: absolute;
    z-index: -99999;
    left: 10vw;
    top: 25vh;
}.deck{
    top: 1vh;
    background-image: url(cards/back.png);
    width: 8vw;
    height: 12vw;
    color: olivedrab;
    border-radius: 2px;
    border-color: red;
    position: absolute;
    background-size: 8vw; 
}#deck{
    left: 78vw;
}.played{
    top: 25vh;
    width: 8vw;
    height: 12vw;
    color: olivedrab;
    border-radius: 2px;
    border-color: red;
    position: absolute;
    background-size: 8vw; 
}#played1{
    left: 23vw;
}#played2{
    left: 34vw;
}#played3{
    left: 45vw;
}#played4{
    left: 56vw;
}#played5{
    left: 67vw;
}.mana{
    border-radius: 2vw;
    width: 4vh;
    height: 4vh;
    background-color: deepskyblue;
    position: absolute;
    left: 2vw;
    /*border-width: 2vw;*/
}.manaused{
    background-color: darkblue;
}
#mana0{
    top: 20.5vh;
}#mana1{
    top: 26.5vh;
}#mana2{
    top: 32.5vh;
}#mana3{
    top: 38.5vh;
}#mana4{
    top: 44.5vh;
}#mana5{
    top: 50.5vh;
}#mana6{
    top: 56.5vh;
}#mana7{
    top: 62.5vh;
}#mana8{
    top: 68.5vh;
}#mana9{
    top: 74.5vh;
}#end{
    top: 90vh;
    left: 1vw;
    position: absolute;
}#draw{
    top: 90vh;
    left: 12vw;
    position: absolute;
}